@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

Body {
  background-color: #FCF5ED;
  margin-left: 5vw;
  accent-color: #CE5A67;

  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
H1 {
  color: #CE5A67;
}

H2 {
  color: #ffa25b;
}

P {
  color: #1F1717;
  font-size: 12pt;
}

A:link {
  color: #CE5A67;
}
A:visited {
  color: #ffa25b;
}

em {
  color: #1F1717;
  font-size: 12pt;
}

button {
  background-color: #F4BF96;
  border-color: #CE5A67;
  color: #1F1717;
  border-radius: 5px;

  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

audio {
  background-color: #CE5A67;
}

label {
  color: #1F1717;
  font-size: 12pt;
}

iframe {
  width: 450px;
  height: 75px;
}

.InputBackgroundDiv {
  background-color: #F4BF96;
  border-radius: 10px;
  height: auto;
  min-height: 100px;
  width: 300px;
  text-align: center;
}

.InputLabel {
  font-size: 25px;
  padding-top: 5px;
}

.InputText {
  font-size: 15px;
  padding-bottom: 5px;
  padding-left:15px; padding-right: 15px;
}

.OutputTextArea {
  border-radius: 10px;
  resize: none;
  border: none;
  background-color: #FCF5ED;
  height: 100px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;

  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.modeButton {
  min-width: 100px;
  height: 35px;
  text-align: center;
  font-size: 14pt;
  color: #CE5A67;
  margin-right: 20px;
}

.modeButton:focus {
  color: #1F1717;
  background-color: #CE5A67;
  border-color: #1F1717;
}

.KeyInput {
  margin-top: 25px;
  width: 100px;
  height: 29px;
  text-align: center;
  font-size: 14pt;
  color: #1F1717;
  background-color: #CE5A67;
  border-color: #1F1717;
  border-style: inset;
  border-radius: 5px;
  display: none;

  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.divider {
  display: inline-block;
  height: 300px;
  width: 400px;
}

.divider.left {
  position: absolute;
  left: 500 px;
  min-height: 325px;
  height: auto;
}

.InputRadio {
  text-align: left;
  margin-left: 75px;
  padding-bottom: 25px;
}
